{% extends "shop/base.html" %}
{% load static %}
{% block title %}
    Your shopping cart
{% endblock %}
{% block content %}
<div class="container-xxl ">
    <div class="text-center">
    <h1>Список товаров в корзине:</h1>
        <div class="container-fluid">
        {% for item in cart %}
            {% with product=item.product %}
            <div class="container-fluid d-flex justify-content-around align-items-center text-left">
                <div class="col">
                        <a href="{{ product.get_absolute_url }}">
                            <img src="
                                {% if product.image %}
                                    {{ product.image.url }}
                                {% else %}
                                    {% static "img/no_image.png" %}
                                {% endif %}">
                        </a>
                </div>
                <div class="col">
                    <p>{{ product.name }}</p>
                </div>
                <div class="col">
                    <p>{{ item.quantity }}</p>
                </div>
                <div class="col">
                    <p><a href="{% url "cart:cart_remove" product.id%}">Удалить</a></p>
                </div>
                <div class="col">
                    <p class="num">{{ item.price }} руб.</p>
                </div>
                <div class="col">
                    <p class="num">{{ item.total_price }} руб.</p>
                </div>
                </div>
            {% endwith %}
        {% endfor %}
        <div class="container-fluid">
        <div class="total">
            <h5>Итого:</h5>
            <h5 class="num">{{ cart.get_total_price }} руб.</h5>
        </div>
        
        <p class="text-right">
            <a href="{% url "shop:main_catalog" %}" class="button light">Вернуться в каталог</a>
            <a href="#" class="button">Обновить</a>
        </p>
        </div>
        </div>
</div>
</div>
{% endblock %}