{% extends "shop/base.html" %} 
{% load static %} 
{% block title %} 
{% if product_info %} {{ product_info.name }} {% else %} Products {% endif %}
{% endblock %} 

{% block content %}
    <div class="container-xxl">


      <div class="product_detail_cart d-block p-2">
        <div class="text-center">
          <img class="product_detail_cart_image" src="{% if product_info.image %}{{ product_info.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}" alt="">
        </div>
        <h1 class="product_detail_cart_name">{{ product_info.name }}</h1>
        <p class="product_detail_cart_description">{{ product_info.description }}</p>
      </div>


      <div class="container-fluid d-flex justify-content-between  text-center">
        <div class="col">
          <p class="product_detail_cart_stock"><button class="price_button">Осталось в наличии: {{ product_info.stock }}</button></p>
        </div>
        <div class="col">
          <p class="product_detail_cart_price"><button class="price_button">Цена: {{ product_info.price }}</button></p>
        </div>
        <div class="col">
          <button class="add_product_button">Добавить в корзину</button>
        </div>
      </div>


    </div>
{% endblock %}
