{% extends "shop/base.html" %}
{% load static %}
{% block title %}
    {% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GGshop | Каталог</title>
</head>
<body>
<div class="container-xxl body_catalog">
      <div class="row">
        <div class="category_bar text-center">
          <ul class="category_menu_item">
            <li  {% if not category %}class="selected"{% endif %}>
                <a class="category_menu_item_link" href="{% url "shop:main_catalog" %}">Все товары</a>
            </li>
            {% for c in categories %}
                <li {% if category.slug == c.slug %}class="selected"{% endif %}>
                    <a class="category_menu_item_link" href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                </li>
            {% endfor %}
        </ul>
        </div>
      </div>
    </div>

    <div class="container-xxl catalog_list">
        <div class="row text-center align-items-center">

        </div>
    </div>


 <div id="sidebar">
        
    </div>
    <div id="main" class="product-list">
        <h1>{% if category %}{{ category.name }}{% else %}Products{% endif %}</h1>
        {% for product in products %}
            <div class="item">
                <a href="{{ product.get_absolute_url }}">
                    <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
                </a>
                <a href="{{ product.get_absolute_url }}">{{ product.name }}</a><br>
                ${{ product.price }}
            </div>
        {% endfor %}
    </div>
</body>
</html>
{% endblock %}